*.DS_Store
README.html
.Rproj.user
venv/
.idea/
.Rhistory
__pycache__/
*.pyc
atlas/
expression_data.Rdata
2_RECONSTRUCTIONS_scRNAseq/CRC_atlas/NormalMatched
2_RECONSTRUCTIONS_scRNAseq/CRC_atlas/noNormalMatched
2_RECONSTRUCTIONS_scRNAseq/CRC_atlas/Healthy
**/NormalMatched_old
**/reports
